 <div ontouchstart="tyt">
  <div class="button">
    <%=link_to "Check IN", search_path%> 
  </div>
</div>
<div id="owl-demo">
  <div> <%= image_tag("pic1.jpg" , :id => "1")%></div>
  <div> <%= image_tag("pic2.jpg" , :id => "2")%> </div>
  <div><%= image_tag("pic3.jpg" , :id => "3")%> </div>
  <div> <%= image_tag("pic4.jpg" , :id => "4")%> </div>
  <div> <%= image_tag("pic5.jpg" , :id => "5")%></div>
  <div><%= image_tag("pic6.jpg" , :id => "6")%> </div>
  <div><%= image_tag("pic7.jpg" , :id => "7")%> </div>
  <div> <%= image_tag("pic8.jpg" , :id => "8")%> </div>
  <div> <%= image_tag("pic9.jpg" , :id => "9")%> </div>
  <div> <%= image_tag("pic10.jpg" , :id => "10")%> </div>
  <div> <%= image_tag("pic11.jpg" , :id => "11")%> </div>
  <div> <%= image_tag("pic12.jpg" , :id => "12")%> </div>
  <div> <%= image_tag("pic13.jpg" , :id => "13")%> </div>
  <div> <%= image_tag("pic14.jpg" , :id => "14")%> </div>
  <div> <%= image_tag("pic15.jpg" , :id => "15")%> </div>
  <div> <%= image_tag("pic16.jpg" , :id => "16")%> </div>
  <div> <%= image_tag("pic17.jpg" , :id => "17")%> </div>
  <div> <%= image_tag("pic18.jpg" , :id => "18")%> </div>
  <div> <%= image_tag("pic19.jpg" , :id => "19")%> </div>
  <div> <%= image_tag("pic20.jpg" , :id => "20")%> </div>
  <div> <%= image_tag("pic21.jpg" , :id => "21")%> </div>

   
</div>
<script type="text/javascript">
    $(".owl-carousel").owlCarousel();
</script>

<style type="text/css">
    #owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
 body{
  text-align:center;
  background-color:#ffcc8e;
}

.button{
  position:relative;
  display:inline-block;
  margin:20px;
}

.button a{
  color:white;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:20px 40px;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active{
  top:10px;
  background-color:#F78900;
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
</style>
 <script type="text/javascript">
$(document).ready(function() {
 
  $("#owl-demo").owlCarousel({
 
      autoPlay: 2000, //Set AutoPlay to 3 seconds
 
      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
 
  });
 
});
 </script>